@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #3c484e;
  font-family: "Open Sans", sans-serif;
}

.Main {
  padding: 10px;
  grid-template-columns: minmax(auto, 768px);
  display: grid;
  justify-content: center;
}

.Items {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

.Card {
  position: relative;
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 4s;
  animation-name: fade;
}

.Card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Card h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.description {
  font-size: .85rem;
  padding: 5px 10px;
  font-weight: 300;
}
.category {
  font-size: .65rem;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: .25rem .75rem;
  border-radius: .25rem;
  color: rgb(240, 240, 240);
  background-color: rgba(0, 0, 0, .60);
}

.modal-container {
  position: fixed;
  display: grid;
  place-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;  
}
.modal-bg{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;  
}
.modal{
  position: relative;
  display: grid;
  place-content: center;
  width: 350px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  z-index: 1;
}
.modal-body{
  font-size: .85rem;
  font-weight: bold;
  color: #333;
}
.modal-close-btn{
  position: absolute;
  padding: .5rem;
  cursor: pointer;
  top: 0.25rem;
  right: 0.25rem;
  
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hidden{
  display: none;
}
